.time-container{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 position:relative;
}

.time-input{
 width: 30%;
 height: 10%;
 background: rgb(226, 223, 255);
 border-radius: 2px;
 font-size: 2rem;
 font-family: 'Rajdhani', sans-serif;
 box-shadow: 0 0 10px 5px rgb(41, 53, 186);
}

.time-button{
 width: 20%;
 height: 10%;
 border-radius: 2px;
 background:#ffedfc;
 color: rgb(40, 9, 42);
 box-shadow: 0 0 10px 5px rgb(183, 41, 186);
 font-size:1.6rem;
 font-weight:500;
 letter-spacing: 1px;
}

.time-result{
 font-size:3rem;
 color: #fff;
 text-align: center;
}


@media(max-width:815px){
 .time-result{
  font-size: 2rem;
 }
 .time-container{
  margin-top: 0;
 }
 .time-input{
  width: 70%;
 }
 .time-button{
  width: 50%;
 }
}

@media(max-width:350px){
 .time-input{
  width: 100%;
 }
 .time-button{
  width: 80%;
 }
}